<div class="container mt-5">
  <div class="row">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="card">
          <div class="card-body ">
           <div class="titulo">Tarjeta de Credito</div> 
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
      <div class="col-lg-6">
          <div class="card">
              <div class="card-body">
                  <h5 class="titulo">Agregar Tarjeta</h5>
              </div>
          </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <h5 class="titulo">Listado de Tarjetas</h5>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Noel Ortiz</td>
                            <td>12345678</td>
                            <td>12/30</td>
                            <td>
                                <i class="fas fa-edit  text-info"></i>
                            </td>
                            <td>
                                <i class="fas fa-trash-alt text-danger"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
      </div>
  </div>
</div>
