<div class="container mt-5">
    <div class="row">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="card">
                    <div class="card-body ">
                        <h5 class="titulo">Tarjeta de Credito</h5> 
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="titulo">Agregar Tarjeta</h5>
                    <form [formGroup]="form" (ngSubmit)="agregarTarjeta()">
                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text">
                                <i class="fas fa-user" 
                                    [class.green-icon]="this.form.get('titulo')?.valid" 
                                    [class.red-icon]="this.form.get('titulo')?.invalid && this.form.get('titulo')?.touched" ></i>
                                
                            </span>
                            <input formControlName="titulo" maxlength="16" type="text" class="form-control" placeholder="Titular">
                        </div>

                        <div class="input-group input-group-lg mb-3">
                            <span class="input-group-text">
                                <i class="far fa-credit-card"
                                    [class.green-icon]="this.form.get('NumeroTarjeta')?.valid" 
                                    [class.red-icon]="this.form.get('NumeroTarjeta')?.invalid && this.form.get('NumeroTarjeta')?.touched" >
                                </i>
                            </span>
                            <input  formControlName="NumeroTarjeta" type="text" maxlength="16" class="form-control" placeholder="Numero de Tarjeta">
                        </div>

                        <div class="row">
                            <div class="col-lg-7">
                                <div class="input-group input-group-lg mb-3">
                                    <span class="input-group-text">
                                        <i class="fas fa-calendar-alt"
                                            [class.green-icon]="this.form.get('FechaExpiracion')?.valid" 
                                         [class.red-icon]="this.form.get('FechaExpiracion')?.invalid && this.form.get('FechaExpiracion')?.touched"> </i>
                                        
                                    </span>
                                    <input formControlName="FechaExpiracion" maxlength="5" type="text" class="form-control" placeholder="MM/YY">
                                </div>
                            </div>
                                <div class="col-lg-5">
                                    <div class="input-group input-group-lg mb-3">
                                        <span class="input-group-text">
                                            <i class="fas fa-key"
                                            [class.green-icon]="this.form.get('cvv')?.valid" 
                                            [class.red-icon]="this.form.get('cvv')?.invalid && this.form.get('cvv')?.touched">
                                            </i> 
                                        </span>
                                        <input formControlName="cvv" maxlength="3" type="text" class="form-control" placeholder="CVV">
                                    </div>
                                </div>
                            </div>
                           
                        <div class="d-grid gap2">
                            <button [disabled]="this.form.invalid" class="btn btn-success btn-lg" type="submit"> 
                                <i class="fas fa-save"></i>&nbsp; Aceptar</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="titulo">Listado de Tarjetas</h5>
                    <table class="table">
                        <tbody>
                            <th>Nombre</th>
                            <th>Numero de Tarjeta</th>
                            <th>fecha de expiracion</th>
                            <th>CVV</th>
                            <tr *ngFor="let tarjeta of listaTarjetas">
                                <td>{{tarjeta.titulo}}</td>
                                <td>{{tarjeta.NumeroTarjeta}}</td>
                                <td>{{tarjeta.FechaExpiracion}}</td>
                                <td>{{tarjeta.cvv}}</td>
                                <td>
                                    <i class="fas fa-edit  text-info"></i>
                                </td>
                                <td>
                                    <i class="fas fa-trash-alt text-danger"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>